{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle(translate('Danh sách sản phẩm')).setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
    <meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
    <meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <meta property="og:type" content="category">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    <div class="bodywrap">
        {% set wishlist = jsonDecode(getCookies('WISHLIST_STORE_PRODUCT')) %}
        <div class="layout-collection">
            <section class="bread-crumb">
                <div class="container">
                    <ul class="breadcrumb">
                        {% set buildBread = [{'label': translate('Sản phẩm'), 'uri':'/san-pham'}] %}
                        {{ render_breadcrumb(buildBread) }}
                    </ul>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <aside class="dqdt-sidebar left-content">
                        <div class="close-filters" title="{{ translate('Đóng bộ lọc') }}">
                            <i class="fa-light fa-xmark"></i>
                        </div>
                        <div class="section-box-bg">
                            <div class="filter-content">
                                <div class="filter-container">
                                    <aside class="aside-item filter-price">
                                        <div class="aside-title">
                                            <h2><span>{{ translate('Chọn mức giá') }}</span></h2>
                                        </div>
                                        <div class="aside-content filter-group content_price">
                                            <ul>
                                                {% set price_ranges = [
                                                    ["0", "200000"],
                                                    ["200000", "350000"],
                                                    ["350000", "500000"],
                                                    ["500000", "800000"],
                                                    ["800000", "1000000"],
                                                    ["1000000", "0"],
                                                ] %}
                                                {% set price_param = getParam('price') %}
                                                {% for range in price_ranges %}
                                                    {% set min_price = range[0]|number_format(0, '.', '') %}
                                                    {% set max_price = range[1]|number_format(0, '.', '') %}
                                                    {% set range_string = min_price ~ ':' ~ max_price %}
                                                    {% if(range_string in price_param) %}
                                                        {% set filter = removeFilter('price', range_string) %}
                                                        {% set checked =  'checked' %}
                                                    {% else %}
                                                        {% set filter = addFilter('price', range_string) %}
                                                        {% set checked =  '' %}
                                                    {% endif %}
                                                    <li class="filter-item filter-item--check-box filter-item--green form-check">
                                                    <span>
                                                        <label class="form-check-label">
                                                            <input aria-label="filter" type="checkbox"
                                                                   value="{{ filter }}"
                                                                   class="form-check-input filter-check" {{ checked }}/>
                                                            <i class="fa"></i>
                                                                {% if(min_price == 0 and max_price == 200000) %}
                                                                    Dưới {{ max_price/1000|number_format(0, '.', '') ~ 'k' }}
                                                                {% elseif (min_price == 1000000 and max_price == 0) %}
                                                                    Trên 1 triệu
                                                                {% else %}
                                                                    Từ {{ min_price/1000|number_format(0, '.', '') ~ 'k' }} - {{ max_price/1000|number_format(0, '.', '') ~ 'k' }}
                                                                {% endif %}
                                                        </label>
                                                    </span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </aside>

                                    {% set allAttr = getAllAttributes() %}
                                    {% if allAttr is not empty %}
                                        {% for c in allAttr %}
                                            {% set column = c.column %}

                                            {% if c.values is not empty %}
                                                <aside class="aside-item filter-tag">
                                                    <div class="aside-title">
                                                        <h2 class="title-filter title-head margin-top-0">
                                                            <span>{{ c.name }}</span>
                                                        </h2>
                                                    </div>
                                                    <div class="aside-content filter-group">
                                                        <ul>
                                                            {% for value in c.values %}
                                                                {% if (value.id in attrColumnValues[column]) %}
                                                                    <li class="form-check filter-item filter-item--check-box">
                                                                        <span>
                                                                            <label for="{{ value.name }}">
                                                                                <input checked type="checkbox"
                                                                                       value="{{ removeFilter(column, value.id) }}"
                                                                                       id="{{ value.name }}"/>
                                                                                <i class="fa"></i>
                                                                                  {{ value.name }}
                                                                            </label>
                                                                        </span>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="form-check filter-item filter-item--check-box">
                                                                        <span>
                                                                            <label for="{{ value.name }}">
                                                                                <input type="checkbox"
                                                                                       value="{{ addFilter(column, value.id) }}"
                                                                                       id="{{ value.name }}"/>
                                                                                <i class="fa"></i>
                                                                                  {{ value.name }}
                                                                            </label>
                                                                        </span>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </aside>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </aside>

                    <div class="col-12 col-banner">
                        {% set bp = getCurrentBannerByCode('BANNER_PRODUCT',{'limit':1}) %}
                        {% if(bp is not empty) %}
                            <a href="{{ bp.viewLink }}" title="{{ bp.name }}" class="duration-300  has-aspect-1">
                                <img alt="{{ bp.name }}" width="1250" height="306"
                                     src="{{ bp.imagesrc }}">
                            </a>
                        {% else %}
                            <a href="" title="{{ translate('click xem ngay') }}" class="duration-300  has-aspect-1">
                                <img alt="Banner top" width="1250" height="306"
                                     src="https://dummyimage.com/1250x306/163645/fff">
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-12">
                        <div class="col-title">
                            <h1>{{ translate('Tất cả sản phẩm') }}</h1>
                            <div class="title-separator">
                                <div class="separator-center"></div>
                            </div>
                        </div>
                        <div class="col-list-cate">
                            <div class="menu-list">
                                {% set category = getCategories() %}
                                {% if category is not empty %}
                                    {% for c in category %}
                                        <a class="cate-item duration-300 " href="{{ c.viewLink }}" title="{{ c.name }}">
                                            <div class="cate-info-title">{{ c.name }}</div>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="block-collection col-12 col-lg-12">
                        <div class="category-products products-view products-view-grid list_hover_pro">
                            <div class="filter-containers">

                                <div class="sort-cate clearfix">

                                    <div class="sudes-filter">
                                        <a class="btn btn-outline btn-filter" title="{{ translate('Bộ lọc') }}">
                                            <i class="fa-solid fa-filter"></i>
                                            {{ translate('Bộ lọc') }}
                                        </a>
                                    </div>

                                    <div class="sort-cate-right">
                                        <h3>
                                            <i class="fa-light fa-arrow-down-a-z"></i>
                                            {{ translate('Xếp theo') }}
                                        </h3>
                                        <ul>
                                            <li class="btn-quick-sort position-desc {{ shows == '' ? 'active' : '' }}">
                                                <a href="{{ removeFilter('show') }}"
                                                   title="Hàng mới"><i></i>{{ translate('Hàng mới') }}</a>
                                            </li>
                                            <li class="btn-quick-sort price-asc {{ shows[0] == 'priceAsc' ? 'active' : '' }}">
                                                <a href="{{ addFilter('show', 'priceAsc', 2) }}"
                                                   title="Giá thấp đến cao"><i></i>{{ translate('Giá thấp đến cao') }}
                                                </a>
                                            </li>
                                            <li class="btn-quick-sort price-desc {{ shows[0] == 'priceDesc' ? 'active' : '' }}">
                                                <a href="{{ addFilter('show', 'priceDesc', 2) }}"
                                                   title="Giá cao xuống thấp"><i></i>{{ translate('Giá cao xuống thấp') }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if(paginator.currentModels is not empty) %}
                                <div class="products-view products-view-grid list_hover_pro">
                                    <div class="row load-after" data-section="section_product_tab_1">
                                        {% for p in paginator.currentModels %}
                                            {% set priceDiscount = p.priceAfterDiscount %}
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <div class="item_product_main">
                                                    <div class="variants product-action item-product-main duration-300">
                                                        {% if p.calcDiscountPercent > 0 %}
                                                            <span class="flash-sale">-{{ p.calcDiscountPercent }}%</span>
                                                        {% endif %}

                                                        {% if(p.getOption('psGifts')) %}
                                                            {% set progressText = 'Kèm quà tặng' %}
                                                            <div class="tag-promo" title="{{ progressText }}">
                                                                <i class="fa-duotone fa-solid fa-gift"></i>
                                                                <div class="promotion-content">
                                                                    {{ progressText }}
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        <div class="product-thumbnail">
                                                            <a href="{{ p.viewLink }}" class="image_thumb scale_hover"
                                                               title="{{ p.name }}">
                                                                <img src="{{ linkSystemImage('/images/grey.gif') }}"
                                                                        data-src="{{ p.thumbnailUri }}"
                                                                        alt="{{ p.name }}"
                                                                        class="lazyload duration-300">

                                                            </a>
                                                        </div>
                                                        <div class="product-info">
                                                            <div class="name-price">
                                                                <h3 class="product-name line-clamp-2-new">
                                                                    <a href="{{ p.viewLink }}"
                                                                       title="{{ p.name }}">{{ p.name }}</a>
                                                                </h3>
                                                                <div class="product-price-cart">
                                                                    {% if(p.contactPrice or (p.price == 0)) %}
                                                                        <span class="text-danger"><strong>{{ translate('Liên hệ') }}</strong></span>
                                                                    {% elseif (priceDiscount > 0) %}
                                                                        <span class="compare-price">{{ p.price | number_format(0, '', '.') }}₫</span>
                                                                        <span class="price">{{ priceDiscount | number_format(0, '', '.') }}₫</span>
                                                                    {% elseif (p.oldPrice > 0) %}
                                                                        <span class="compare-price">{{ p.oldPrice | number_format(0, '', '.') }}₫</span>
                                                                        <span class="price">{{ p.price | number_format(0, '', '.') }}₫</span>
                                                                    {% else %}
                                                                        <span class="price">{{ p.price | number_format(0, '', '.') }}₫</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="product-button">
                                                                {% set dataCk = 1 %}
                                                                {% set dataHref = 'javascript:void(0)' %}
                                                                {% set dataTitle = 'Thêm vào giỏ hàng' %}
                                                                {% set iconShop = '<i class="fa-light fa-bag-shopping"></i>' %}
                                                                {% if(p.isParent) %}
                                                                    {% set dataCk = 0 %}
                                                                    {% set dataHref = p.viewLink %}
                                                                    {% set dataTitle = 'Tùy chọn' %}
                                                                    {% set iconShop = '<i class="fa-sharp fa-light fa-gear"></i>' %}
                                                                {% endif %}
                                                                <a href="{{ dataHref }}" class="btn-cart btn-views add_to_cart btn btn-primary _addToCartAttr"
                                                                        title="{{ dataTitle }}"
                                                                        data-ck="{{ dataCk }}"
                                                                        data-psid="{{ p.id }}"
                                                                        data-selId="{{ p.id }}" data-currency="₫">
                                                                    <span>{{ dataTitle }}</span>
                                                                    {{ iconShop | raw }}
                                                                </a>
                                                                {% set classWishlist = '' %}
                                                                {% if p.id in wishlist | keys %}
                                                                    {% set classWishlist = 'active' %}
                                                                {% endif %}
                                                                <a href="javascript:void(0)"
                                                                   class="setWishlist btn-views btn-circle _addWishList {{ classWishlist }}"
                                                                   title="{{ translate('Thêm vào yêu thích') }}" data-id="{{ p.id }}">
                                                                    <i class="fa-light fa-heart"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="pagenav">
                                {{ render_paginator(paginator) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backdrop__body-backdrop___1rvky"></div>
{% endblock %}