{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Danh sách tin tức').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="Tin tức">
    <meta name="description" content="Tin tức">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Tin tức">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    <div class="bodywrap">
        <div class="bread-crumb">
            <div class="container">
                <ul class="breadcrumb">
                    {% set br = [{'label': translate('Tin tức'), 'uri': '/news'}] %}
                    {{ render_breadcrumb(br) }}
                </ul>
            </div>
            <div class="blog_wrapper layout-blog">
                <div class="container">
                    <div class="row">
                        <div class="right-content col-lg-12 col-12">
                            <div class="title-page">
                                <h1>{{ translate('Tin tức') }}</h1>
                                <div class="title-separator">
                                    <div class="separator-center"></div>
                                </div>
                            </div>
                            {% if(paginator.currentModels is not empty) %}
                                {% set t = 1 %}
                                <div class="row list-news">
                                    {% for n in paginator.currentModels %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="item-blog">
                                                <div class="wrapper">
                                                    <a class="block-thumb thumb"
                                                       href="{{ n.viewLink }}"
                                                       title="{{ n.title|raw }}">
                                                        {% if t <= 8 %}
                                                            <img width="400" height="240"
                                                                 class="duration-300"
                                                                 src="{{ n.pictureUri }}"
                                                                 alt="{{ n.title|raw }}">
                                                        {% else %}
                                                            <img width="400" height="240"
                                                                 class="duration-300 lazyload"
                                                                 src="{{ linkSystemImage('/images/grey.gif') }}"
                                                                 data-src="{{ n.pictureUri }}"
                                                                 alt="{{ n.title|raw }}">
                                                        {% endif %}

                                                    </a>
                                                    <div class="block-content">
                                                        <h3>
                                                            <a href="{{ n.viewLink }}"
                                                               title="{{ n.title|raw }}"
                                                               class="line-clamp-2-new">{{ n.title|raw }}</a>
                                                        </h3>
                                                        <div class="article-content">

                                                            <p class="justify line-clamp line-clamp-3">
                                                                {{ n.intro|raw }}
                                                            </p>

                                                            <div class="article-info">
                                                                <p class="time-post">
                                                                    <i class="fa-regular fa-clock"></i>
                                                                    <span>
                                                                         {{ n.createdDateTime }}
                                                                     </span>
                                                                </p>

                                                                <a href="{{ n.viewLink }}"
                                                                   title="{{ translate('Đọc thêm') }}"
                                                                   class="read-more">{{ translate('Đọc thêm') }}</a>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        {% set t = t + 1 %}
                                    {% endfor %}
                                    <div class="pagenav">
                                        {{ render_paginator(paginator) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}